@import url(css/introducao.css);
@import url(css/footer.css);
@import url(css/deifnicao.css);
@import url(css/cards.css);
@import url(css/scroll.css);
@import url(css/background.css);
@import url(css/contato.css);
@import url(css/slide.css);
ul {
  list-style: none;
  padding: 0;
  margin: 0px;
}


.loading-all {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
